*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    height:500px;
    background-color: red;
    width:80%;
    margin:auto;
    font-family: 'Rubik', sans-serif;
}

.row{
    width:100%;
    text-align: center;
}

.row .product{
    width: 30%;
    display: inline-block;
    /* position:relative; */
}

.product .preview>img{
    width: 100%;
}

.product .preview>img.animazione{
    display:none;
}

.product:hover img.default{
    display:none;
}

.product:hover img.animazione{
    display:inline-block;
}

.product>.preview{
    width: 100%;
    position: relative;
}

.preview>.heart{
    position:absolute;
    top:20px;
    right:0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    background-color: white;
}

.preview>.labels{
    position: absolute;
    left: 0;
    bottom: 20px;
    color: white;
}

.labels>div{
    display: inline-block;
    padding: 5px;
    font-size: 13px;
}

.labels>.discount{    
    background-color: rgb(233, 34, 34);
    
}

.labels>.sustainibility{    
    background-color: green;
}

.product>.details{
    text-align: left;
}

.details>.brand{
    font-size: 13px;
}

.details>.description{
    font-weight: 500;
}

.details>.discountedPrice{
    font-size: 15px;
    color: red;
    font-weight: 500;
}

.details>.oldPrice{
    font-size: 15px;
    text-decoration: line-through;
}